{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>BookBuy.com</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<!-- <body style="background-image: url('{% static "home/img.jpg" %}');"> -->
<body style="background-image: url('https://images.unsplash.com/photo-1512503959943-9d35a3636b51?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7b80cda12d40bf83984eb6b7135dc38c&auto=format&fit=crop&w=1951&q=80');">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">BookBuy.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/books/1">Mathematics</a>
          <a class="dropdown-item" href="/books/2">Physics</a>
          <a class="dropdown-item" href="/books/3">Chemistry</a>
          <a class="dropdown-item" href="/books/4">Computer Sc.</a>
        </div>
      </li>
  </ul>
&nbsp;
  <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown"> -->

<ul class="navbar-nav">
			{% if isset == True %}

			<li class="nav-link" style="color:white;">Logged in as {{ user }}</li>

			{% else %}
			{% endif %}
      &nbsp;&nbsp;

			{% if isset == True %}

			<a class="nav-link" href="{% url 'cart' %}" style="color:white;">Cart&nbsp;<i class="fas fa-shopping-cart fa-1x"></i></a>
			&nbsp;&nbsp;
      <!-- <a class="btn btn-primary my-2 my-sm-0" href="{% url 'logout' %}">Logout</a> -->
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" name="logout" value="Logout">
      </form>

    {% else %}
    {% endif %}
	</ul>
 </div>
</nav>
<br>
<br>
<div class="container-fluid text-center">

{% if isset == False  %}
<!-------------------------------------------------------->
{% if not_found == False %}
<!--------------------------------------------------------->
<form class="form-group" style="margin:10% auto; width: 30%" method="post" action="{% url 'index' %}">

       {% csrf_token %}
       <label style="color: white">Username : </label>
       	{{ form.user_name }}

        <label style="color: white">Password:</label>
        {{ form.password }}
        <br>
        <input type="submit" class="btn btn-warning btn-lg" name="login" value="Login">
</form>

<a href="/register" class="btn btn-success btn-lg">Register</a>


<!--------------------------------------------------------------------------->
{% else %}

<div class="alert alert-danger" role="alert" style="width:30%; margin:5px auto;">
  Invalid Username/Password !! <a href="/">Try Again</a>
</div>

<form class="form-group" style="margin:5% auto; width: 30%" method="post" action="{% url 'index' %}">

       {% csrf_token %}
       <label style="color: white">Username : </label>
       	{{ form.user_name }}

        <label style="color: white">Password:</label>
        {{ form.password }}
        <br>
        <input type="submit" class="btn btn-warning btn-lg" name="login" value="Login">
</form>

<a href="/register" class="btn btn-success btn-lg">Register</a>



{% endif %}

<!------------------------------------------------------------------------------------------>

{% else %}

<div class="container">
	<span class="badge badge-pill badge-primary"><span style="font-size:25px;">New Arrivals</span></span>
  <br>
	<br>
	<div class="row">

{% for book in all_book %}

		<div class="col-lg-3 offset-lg-1">
			<div class="card" style="width: 18rem; height:480px;margin:10px;">
         <img class="card-img-top" src="{{ book.book_image.url }}" style="height:300px;" alt="Card image cap">
           <div class="card-body">
           <p class="card-text">{{ book.book_name }}</p>
					 <p class="card-text">{{ book.book_author }}</p>
					 <p class="card-text">Rs. {{ book.book_price }}</p>
           </div>
     </div>
   </div>

{% endfor %}
</div>
</div>



{% endif %}
</div>
</body>
</html>
