<!DOCTYPE html>
<html>
<head>
	<title>BookBuy.com</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</head>
<body>
	<div class="container text-center">
		<h1 class="text-center">New Customer Sign Up </h1>
		<br>
		<br>
<form method="post" action="{% url 'register' %}" id="user_reg">

	{% csrf_token %}
	<h3>Login Information</h3>
	<label>UserName:</label>
	{{ form.user_name }}
	<label>Email ID:</label>
	{{ form.email_id }}
	<label>Password:</label>
	{{ form.password }}
	<br>
	<h3>Customer Information</h3>
	<label>Full Name:</label>
	{{ form.name }}
	<label>Shipping Address:</label>
	{{ form.shipping_addr }}
	<label>Contact No.</label>
	{{ form.phone_no }}
<br>
	<input type="submit" class="btn btn-primary" name="register" value="Sign Up Now">


</form>
</div>
<br>
<footer class="text-center" style="background-color:#404040; position:relative;bottom:0px;width:100%;" id="footer" >
	<br>
<span style="color:white;">
<a href="https://www.facebook.com/jayjeet.chakraborty.5"><i class="fab fa-facebook-f fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#"><i class="fab fa-linkedin-in fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://github.com/JayjeetAtGithub"><i class="fab fa-github fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#"><i class="fab fa-twitter fa-2x"></i></a>
<br>
<br>
<i class="far fa-copyright"></i>&nbsp;Jayjeet Chakraborty&nbsp;2018
<br>
<br>
</span>
<span style="color:white; font-size:20px;">Powered By <i class="fab fa-python"></i></span>
<br>
<br>

</footer>
<script type="text/javascript">
	document.getElementById('user_reg').addEventListener('submit',function(){
          
          alert('User Registration Successful');

	});
</script>
</body>
</html>
