<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin Site</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<div class="container text-center">
	<p><strong><em>Admin logged in as {{ admin_name }}</em></strong></p>
	<form method="post" action="{% url 'admin' %}" enctype="multipart/form-data" id="reg">

	{% csrf_token %}
	<h3><strong>Add New Book:</strong></h3>
	<hr>
	<label>Book Name:</label>
	{{ form.book_name }}
	<br>
	<label>Author Name:</label>
	{{ form.author_name }}
	<br>
	<label>Book Description:</label>
	{{ form.book_description }}
	<br>
	<label>Book Price:</label>
	{{ form.book_price }}
	<br>
	<label>Book Image :</label>
	{{ form.book_image }}
	<br>
	<br>
	<label>Book Category:</label>
	{{ form.book_category }}
	
<br>
	<input type="submit" class="btn btn-primary" name="bookadd" value="Add Book">
</form>
<br>
<form id="logout" method="post" action="{% url 'adminlogout' %}">
	{% csrf_token %}
	<input type="submit" class="btn btn-warning btn-lg" name="logout" value="Logout Admin">
</form>
</div>
<script type="text/javascript">
	document.getElementById('reg').addEventListener('submit',function(){

		alert("Book added Successfully");

	});
</script>
</body>
</html>